.nav-pill li {
  margin-top: 20px;
  display: inline-block;
}

.active {
  background: pink;
  border-radius: 5px;
}


.list-group {
  float: left;
  margin-left: 25px;
}

.ng-invalid.ng-dirty {
  border: 2px solid red;
}

.ng-valid.ng-dirty {
  border: 2px solid green;
}

form.ng-dirty {
  border: none !important;
}

.ng-touched {
  border: none !important;
}